@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #77c1ff;
  --primary-main: #3991e0;
  --primary-dark: #0064ae;  
  --primary-contrast-text: #ffffff;
  --primary-text-black: #000000;  

  --ghost-light: #ffffff;
  --ghost-main: #f3f3f3;
  --ghost-dark: #c0c0c0;
  --ghost-contrast-text: black;

}

/* .root,
#root,
#docs-root {
  --primary: #367ee9;
  --secondary: #a0aec0;
  --accent: #718096;
  --background: #fff;
  --main: #0d0106;
  --header: #2d3748;
} */

body {
  background-color: whitesmoke;    
}

/* .slidecontainer {
  width: 100%;
} */

/* 
  - normal

*/

.slider { appearance: none; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--primary-main);
  cursor: pointer;  
}

.slider::-moz-range-thumb {
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--primary-main);
  cursor: pointer;
}

/* 
  - normal-thin
*/

.slider-thin { appearance: none; }


.slider-thin::-moz-range-thumb {
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--primary-main);
  cursor: pointer;
}

.slider-thin::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--primary-main);
  cursor: pointer;    
}

.slider-thin::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 4px 4px 4px var(--ghost-dark), 0px 0px 4px var(--ghost-main);
  background: var(--primary-main);
  border-radius: 10px;
  z-index: 1000;  
  /* border: 0.2px solid #010101; */
}

